{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nneoma</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css ' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css ' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">

</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <!-- <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i> -->
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="https://twitter.com/nneoma_nneoma77/" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://instagram.com/nneomafoundation77" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h3 class="text-light"><a href="index.html">Nneoma Foundation</a></h3>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">What we do</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Activities</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
          
         
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Welcome to <br>
          Nneoma Health and Educational Development Support Foundation</h1>
      <h2>Everyone deserve to be educated and healthy</h2>
      <a href="payment" class="btn-get-started scrollto">Donate</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
          </div>

          <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <div class="box-heading" data-aos="fade-up">
              <h4>About Us</h4>
              <p>Nneoma Health and Educational Development Support Foundation Was conceived 
                  from the love and care of a mother. 
                  Today, though, unrestrain economic inequality exists,  
                  and individuals struggle to obtain basic necessities such as health, food, 
                  clothing, housing, and education, we step in to assist and serve by filling
                  in the blanks.
                  We are a non-profit organisation engaged in providing a better future to 
                  underprivileged homes and communities through free medical-outreaches, 
                  health education, free community based education, scholarships for bright 
                  underprivileged students, provision of borehole water to communities without 
                  access to good water source, food distribution outreaches and basic 
                  household items distribution. Through effort and donations of partners, 
                  like minds and good people all around the world, we are able to eradicate 
                  poverty, provide food, education, medical relief, sustainable development, 
                  and protect the Environment at large expecially in less privilage parts of the country.
              </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Core Objectives</h2>
          <h3>Why you shoud <span>support what we do</span>?</h3>
          <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">

          <div class="col-lg-4 mb-4 mt-md-0">
            <div class="box" data-aos="fade-up">
              <span>Development</span>
              <p>The overall well being of the society is our objective</p>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <span>Reduce infant mortality</span>
              <p>To reduce as best as possible infant mortality through education and health support  </p>
            </div>
          </div>

          <div class="col-lg-4 mb-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <span>Hunger</span>
              <p>Millions of people go to bed hungry. We are here to reduce the numbers as best as possible.</p>
            </div>
          </div>
          
          <div class="col-lg-4">
            <div class="box" data-aos="fade-up">
              <span>literacy</span>
              <p>An uneducated person has a high chance to end up poor.
                 Helping people to become literate is one of our objectives</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <span>Healthy leaving</span>
              <p>With medical outreaches, payment of medical bills and health education, we make sure people have healthy life.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <span>Shelter</span>
              <p>A homeless person is open to different kinds of abuses and attacks. Through delibrate effort we put them off the street.</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Why Us Section -->

   
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Support A Cause You Care About</h3>
          <p> We see happy faces and people so comfortable with life. Make no mistake that it is same for everyone. Many are in need of food, health care, shelter, education, clothing and so much more.
            You can through us put a smile on their faces.
          </p>
          <a class="cta-btn" href="payment">Donate</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Causes we are Serving</h2>
          <h3>What you can <span>Donate for</span></h3>
        
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Education Materials</a></h4>
              <p>Support for purchase of school uniform, footwears and books for children.
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Health</a></h4>
              <p>Donate towards payment of hospital bills and medications.</p>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mb-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Rural Water</a></h4>
              <p>Many communities lack good source of drinking water. You can donate to build boreholes.</p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box" data-aos="zoom-in">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Children Clothing</a></h4>
              <p>Pay for children Clothing and personal hygiene fees for the entire year.
              </p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Tutors & Caregiver's Salary</a></h4>
              <p>Pay tutor's and caregiver's salary for the whole year.</p>
             
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Build shelters</a></h4>
              <p>Donate towards building of classrooms and community hospitals.</p>
              
            </div>
          </div>

        </div>
      </div>
 

    </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Activities</h2>
          <h3>Check our <span>Activities</span></h3>
          <p></p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          
       
        

          {% for portfolio in portfolios %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{portfolio.image.url}}"  class="img-fluid" alt="">
            <div class="portfolio-info">
              <p>{{portfolio.title}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Portfolio Section -->

     
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Support A Cause You Care About</h3>
          <p> When we give cheerfully and accept gratefully, everyone is blessed.
            It's not how much we give but how much love we put into giving.
            We make a living by what we get, but we make a life by what we give.
          </p>
          <a class="cta-btn" href="payment">Donate</a>
        </div>

      </div>
    </section><!-- End Cta Section -->


     <!-- ======= help Section ======= -->
     <section id="help" class="help">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
          </div>

          <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <div class="box-heading" data-aos="fade-up">
              <h4>They need your help</h4>
              <p >When you help children and families thrive, it helps to reduce inequality,
                 break cycles of poverty, and contributes to healthier and happier populations.
                 Children's charities make available a level playing ground for less privilage kids to
                 compete with privilage kids in the best schools and also enjoy same health facilities. 
                 People experience social isolation when they are poor and puts them at a higher risk 
                 for alcohol or drug misuse, depression, stress, and suicide. Social support is neccessary 
                 for maintaining good health.
                 Helping the less privilege build a better world is possible if we decide to show love by donating items or cash.

              </p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End help Section -->
    <!-- ======= ways to donate Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Other ways to donate</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <span class="recommended-badge">BANK TRANSFER</span>
              <h3>Bank Name: <small>First Bank</small></h3>
            
              <h3>Account Name: <small>Nneoma Foundation</small></h3>
           
              <h3>Account Number: <small>3000000000</small></h3>
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <span class="recommended-badge">BY CHEQUE</span>
              <h3>Your cheque or money order should 
                <br>
                  be made payable <br>
                  to: <br> 
                  <small>Nneoma Foundation </small> <br>
                  and be sent
                  <br>
                  to: <br>
                  <small>No 5, Abdullateef Street Abuja</small>
              </h3>
             
           
              
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
              <span class="recommended-badge">CONTACT US</span>
              <h3>For other methods not mentioned, 
              <br>
              <br>
                  call us or send us a message through the contact section and we will find a means to 
              <br>
              <br>
                  receive your donation
              </h3>
             
             
            
            </div>
          </div>

        </div>

      </div>
    </section><!-- End ways to donate Section -->

    
    <!-- ======= Testimonials Section ======= -->
    <div class="section-title" data-aos="zoom-in">
      <h3>Testimonial From Some <span>Beneficiaries</span></h3>
      <p></p>
    </div>
    <section id="testimonials" class="testimonials">
      <div class="container">
        
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <h3>Testimonials</h3>
              <div class="testimonial-item">
               
                
                <img src="{% static 'assets/img/testimonials/mama2.jpg ' %}" class="testimonial-img" alt="">
                <h3>Mercy Benson</h3>
                <h4>Business Revival</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  After Covid, I could not return to my business because I and my family ate up the money for my business. Nneoma Foundation
                  restored my business by giving me grant and other incentives which helped me back to my feet.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          

            {% for testimonial in testimonials%}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <!-- <img src="{% static 'assets/img/testimonials/mama5.jpg ' %}" class="testimonial-img" alt=""> -->
                <img src="{{testimonial.image.url}}" class="testimonial-img" alt="">
                <h3>{{testimonial.full_name}}</h3>
                <h4>{{testimonial.heading}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{testimonial.statement}}
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            {% endfor%}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


     <!-- ======= Team Section ======= -->
     <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Team</h2>
          <h3>Our Hard Working <span>Team</span></h3>
          <p></p>
        </div>

        <div class="row">

          {% for team in teams %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{{team.image.url}}"  class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{team.full_name}}</h4>
                <span>{{team.position}}</span>
              </div>
            </div>
          </div>
          {% endfor %}

       
        </div>

      </div>
    </section><!-- End Team Section -->



    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>F.A.Q</h2>
          <h3>Frequently Asked <span>Questions</span></h3>
          <p>Below are list of frequently asked questions and their corresponding answers.</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1"> Is the donated amount rightly used for Poor People? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  Nneoma Foundation will follow a strict post-donation procedure and bills for the same are duly shared.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> Is Donating to an individual's account recommended?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Nneoma Foundation has dedicated account detail for receiving donations. If for any reason you want to send donation to an individual's account, 
                  you must know the individual personally.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">What's better, monetary donations or usable items? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Both types of charity are beneficial to our cause. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">How can I partner with the organization? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                <p>
                  Please send us a message through the contact section of this site.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">What can your organisation offer donors in exchange for a donation? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                <p>
                    We offer regular project updates, recognition in an annual report and naming opportunities.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-in">
          <h2>Contact</h2>
          <h3>Check our <span>Contact</span> Details</h3>
          <p></p>
        </div>

       
        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>nneomafoundation500@gmail</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+1 5589 55488 55s</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">
            

            <form  action="" method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="full_name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
             <br>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Nneoma Foundation</h3>
            <p>Cry no more because help is near.</p>
          </div>
        </div>


        <div class="social-links">
          <a href="https://twitter.com/nneoma_nneoma77/" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/nneomafoundation77" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.paypal.com/donate/?hosted_button_id=YA48G2CLPGRHS" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Uclassic</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js ' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js ' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js ' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js ' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>